<!-- Page header -->
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Reach
      </h1>
      <h2 class="subtitle">
        Dashboard
      </h2>
    </div>
  </div>
</section>

<!-- Chart -->
<section class="section">
  <div class="container">
    <div class="reach-container">
      <figure class="svg-container">
        <svg id="ReachPieChart" class="pie-chart" (window:resize)="resize()"></svg>
      </figure>
    </div>
  </div>
</section>
